.quickSettings {
    display: flex;
    align-items: center;
    gap: 16px;
}

.quickSettingsLabel {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    cursor: pointer;
    color: var(--top-bar-text-color);
}

.quickSettingsCheckbox {
    margin-right: 8px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--top-bar-text-color);
    border-radius: 3px;
    background-color: white;
    display: inline-block;
    position: relative;
}

.quickSettingsCheckbox:checked {
    background-color: white;
}

.quickSettingsCheckbox:checked::after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: -1px;
    left: 2px;
    color: black;
}